apiVersion: apps/v1
kind: Deployment
metadata:
  name: po-app
  namespace: po-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: po-app
  template:
    metadata:
      labels:
        app: po-app
    spec:
      containers:
        - name: po-app
          image: 181975986508.dkr.ecr.us-east-1.amazonaws.com/po_conditioning_v1:{{ .Values.image.tag }}
          ports:
            - containerPort: 8000
          env:
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_USER

            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_PASSWORD

            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_NAME

            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_HOST

            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_PORT